In [1]:
import pandas as pd
from surprise import Dataset, Reader, SVD, accuracy
from surprise.model_selection import train_test_split, GridSearchCV

In [ ]:
train = pd.read_csv('/Users/Stefano_1/Documents/Data/ml2017-fall-hw5/train.csv')
test = pd.read_csv('/Users/Stefano_1/Documents/Data/ml2017-fall-hw5/test.csv')
movies = pd.read_csv('/Users/Stefano_1/Documents/Data/ml2017-fall-hw5/movies.csv', delimiter= '::', encoding= 'latin1')
users = pd.read_csv('/Users/Stefano_1/Documents/Data/ml2017-fall-hw5/users.csv', delimiter='::')

In [19]:
test

        TestDataID  UserID  MovieID
0                1     796      594
1                2     796     1270
2                3     796     1907
3                4    3203     2126
4                5    3203      292
...            ...     ...      ...
100331      100332    2683      111
100332      100333    2683     3334
100333      100334    2683     2717
100334      100335    2683     1784
100335      100336    2683     1096

[100336 rows x 3 columns]

In [18]:
reader = Reader(rating_scale= (1,5))
data = Dataset.load_from_df(train[['UserID', 'MovieID', 'Rating']], reader)

In [6]:
train_set, test_set = train_test_split(data, test_size=0.3)

In [7]:
svd = SVD()
svd.fit(train_set)

In [14]:
test_pred = svd.test(test_set)
accuracy.rmse(test_pred)

RMSE: 0.8907

0.8906985983787711

In [26]:
predictions = []

for _, row in test.iterrows():
    user = row['UserID']
    movie = row['MovieID']

    res = svd.predict(user, movie)

    predictions.append((row['TestDataID'], res.est))

submission = pd.DataFrame(predictions, columns=['TestDataID', 'Rating'])

submission['Rating'] = submission['Rating'].round()

In [28]:
submission.to_csv('/Users/Stefano_1/Documents/Data/Kaggle Movie Rec/sub1_svd.csv', index_label= 'id', index = False)